#myShop{
	width: 100%; 
	height: 100%;
	background-color: rgba(0,0,0,0.4);	
	position: absolute;	
	top: 0px; left: 0px; right: 0px;	
	display: none;			
}

#Shopping{			
	width: 1000px;
	height: 480px;	
	background-color: rgb(255,255,255);
	border-radius: 25px;
	box-shadow: 10px 7px 5px rgba(205,39,39,0.7);		
	margin: 125px auto;
}	
		
.imgstyle{
	border: 1px solid#ddd;
	max-width: 550px;
}

.imgstyle:hover{
	box-shadow: 0px 0px 20px rgba(120,120,120,0.7);
}

.imgItem{		
	padding: 2px;
	transition: 0.7s;
	opacity: 1;
}

.imgItem:hover{
	opacity: 0.3;
}

#snapshot_700_01, #snapshot_700_02{
	clip: rect(310px, 670px, 590px, 10px);
	margin-top: -300px;
	position: absolute;
	overflow: hidden;
}

#snapshot_500_01, #snapshot_500_02{
	clip: rect(10px, 1160px, 290px, 695px);
	margin-left: -683px;
	position: absolute;
	overflow: hidden;
}

#snapshot_700_01:hover, #snapshot_500_01:hover{
	clip: rect(0px, 1160px, 590px, 0px);
	z-index: 1;
	margin-top: 0px;
}

#snapshot_700_02:hover{
	clip: rect(0px, 1160px, 590px, 0px);
	z-index: 1;
	margin-top: -300px;
	margin-left: -480px;
}

#snapshot_500_02:hover{
	clip: rect(0px, 1160px, 590px, 0px);
	z-index: 1;
	margin-top: -300px;
	margin-left: 0px;
}
